<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observing Log</title>
    <style>
        table {
        border-collapse: separate;
        width: 100%;
        }
        th, td {
        padding: 15px; 
        border: 2px solid black;
        }
        th:first-child,
        td:first-child {
        width: 10%;
        }
        th:last-child,
        td:last-child {
        width: 80%;
        }
    </style>
</head>
<body>
    {% set day = data %}
    <h1><center>Observing Log, {{ day[0][0] }} Night</center></h1>
    <table>
        <tr>
            <th>Time (UTC)</th>
            <th>Message</th>
        </tr>
        {% for row in data %}
        <tr>{% if row [2] or row [3] %}
            <td width="20%">{{ row[1] }}</td>
            <td width="80%">
                <div style="white-space: pre-wrap;">{{ row[2] }}</div>
                {% if row[3] %}
                <center><img src="{{ row[3] }}" width="700"></center>
                {% endif %}
            </td>            
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <div class="button-container">
        <button onclick="window.location.href='/';">Volver al Inicio</button>
        <button onclick="window.location.href='/tutorial';">Tutorial</button>
    </div>
       
</html>

